@import '../../node_modules/margo-css/margo.scss';

//App Colors
//$orange: #f78a4c;
//$blue: #0192B5;
//blue - #33a7c3
//skyblue - #25c2f2
//$blue: #459cf2;
//$blue: #3192f1
//$darkgrey2: #737373
$orange: #f7955d;
$lighterOrange: #fcdbc9;
$blue: #0192B5;
$white: #ffffff;
$lightgrey: #aaaaaa;
$lightergrey: #dddddd;
$darkgrey: #3e3e3e;
$darkgrey2: #454545;
$borderOrange: #dedede;
$hoverOrange: #fbc4a5;

//General Styles
body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: $darkgrey2;
	//background: $lightgrey;
	//background-size: cover;
}

a {
	text-decoration: none;
}

a:focus{
	outline: 0;

}

input:focus {
		border-color: $lighterOrange;
}

// Pre Header View

#leftLogo {
	color: $blue;
}

#rightLogo {
	color: $orange;
}

.nav-bar.with-logo .nav-logo {
	top: 31%;
}

.site-nav-style {
	
	.site-nav-logo {
		width: 80px;
	}

	@include media-query($med-screen) {
		.site-nav-logo {
			width: 150px;
		}
	}
}

// Home View

#add-section {
	margin-top: 3%;

	h2 {
		color: $blue;
	}

	p {
		font-size: 20px;
	}
}

.container-hero {
	min-height: 80vh;
	background-image: url("https://hd.unsplash.com/photo-1455641139200-aebc8e447b8a");

	@include media-query($med-screen) {
			min-height: 580px;
			//position: relative;
			//padding: 115px 0 40px;
			//overflow: hidden;
			background-image: url("https://hd.unsplash.com/photo-1455641139200-aebc8e447b8a");
	}

	.hero {
		background: none;
	}

	.hero-text {
		color: $white;
	}
}

#hero-link {
	background: $orange;
	border: none;
}

#nav-color {

	a {
		color: $darkgrey2;
	}
}
	

//Sign In View

.signInView {
	//background-image: url("https://s19.postimg.org/5kx3p33v7/sign_In_sign_Up_bckgd.jpg");
	//background-size: cover;

	.signIn-header {
		    margin: 68px 0 26px;
		    text-align: center;

		#iconLogo {
			color: $lightgrey;
		}

		a:hover {
			color: $blue;
			cursor: pointer;
		}		
	}

	h3 {
		color: $orange;
	}

	.form-wrapper {
		position: relative;
	    margin-left: auto;
	    margin-right: auto;
	    padding: 0 10px;

	    .form-body {

	    	max-width: 384px;
		    margin: 0 auto 28px;
		    border: 1px solid $borderOrange;
		    border-radius: 2px;
		    text-align: left;
		    

		    .signIn-form {
		    	background: $white;

		    	.form-content {
		    		color: $lightgrey;
		    		margin: 32px;
		    		width: 84%;
		    		font-size: small;

		    		.signInUpButton {
		    			background: $orange;
		    			width: 100%;
		    			margin-top: 10%;
		    			border: none;
		    			text-align: center;
		    		}

		    		input:focus {
		    			border-color: $lighterOrange;
		    		}
		    	}

		    }
	    }
	}

	.Text {
			font-size: small;
			color: $lightgrey;
	}

	.signInFooter {
		text-align: center;

		a {
			color: $hoverOrange;
		}

		a:hover {
			color: $orange;
		}
	}
}

// Inbox View

#welcome-page {
	// border: 2px solid $darkgrey2;
	// border-radius: 5%;
}

.label-muted {
	color: $lightergrey;
}

#subtitle {
	font-size: large;
	color: $blue;

}

#inboxButton {
	background: $orange;
	margin-top: 5%;
	border: none;
}

.section-label {
	h1 {
		text-align: right;
	}
}

.text-filtered {
	margin-top: 7%;
}


//Add View
#user-input {
    padding: 1%;
    //border: 1px solid #dadada;
    //transition: .5s border $lighterOrange;
    font-size: 1.5rem;
   // border-radius: 5px;
   	border: none;
    display: block;
    width: 100%;
    margin: 40px 0 26px;
	text-align: center;
	font-family: 'Open Sans', Helvetica, sans-serif;

}

input:focus {
		border-color: $lighterOrange;
}
	
#quick-add {
	border: 1px solid $blue;
	margin-bottom: 2%;
	border-radius: 5px;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.alt-font {
 	font-family: "Palatino", serif;
}





.addImg {
	width: 200px;
	display: block;
	margin: auto;
	//border: 1px solid $orange;
	//background-image: url("https://s19.postimg.org/xtlwwtdub/noun_573215.png")
	// border: 1px solid $blue;
	// font-size: 70px;
	// border-radius: 100%;
}

.subNav {
	font-size: 0;

	> * {
		display: block;
		font-size: medium;
		text-align: center;
		text-decoration: none;
		line-height: 30px;

		@include media-query($med-screen) {
			line-height: 80px;
			display: inline-block;
			width: 20%;
			vertical-align: top;
			text-align: center;
		}
	}
}



